.frontend {
    height: 100vh;
    background: #202A44;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
    text-align: center;
}

.tickerSymbol {
    margin-top: 5px;
    height: 20px;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.business {
    text-align: left;
    margin-left: 450px;
}

.personal {
    text-align: center;
    position: relative;
    bottom: 320px;
    margin-left: 450px;
}

.news {
    margin-top: 150px;
    margin-right: 15px;
}

.links {
    margin-left: 15px;
}

.rating {
    margin-top: 10px;
}

.map {
    margin-right: 23px;
}