/* Styling for frontend */

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.frontend {
    height: 100vh;
    background: #202A44;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: fade 5s;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
    text-align: center;
}

.tickerSymbol {
    margin-top: 5px;
    height: 20px;
    width: 200px;
    text-align: center;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.businessTop {
    text-align: left;
    margin-left: 450px;
    animation: fade 5s;
}

.personal {
    text-align: center;
    position: relative;
    bottom: 315px;
    margin-left: 450px;
}

.news {
    margin-top: 120px;
    margin-right: 15px;
}

.sentimentAnalysis {
    position: fixed;
    top: 119.5px;
    margin-left: 920px;
    animation: fade 5s;
}

.links {
    position: fixed;
    margin-left: 955px;
    bottom: 350px;
    animation: fade 5s;
}

.rating {
    position: fixed;
    margin-top: 10px;
    margin-left: 50px;
}

.map {
    position: fixed;
    margin-left: 935px;
    bottom: 270px;
}

.companyWebsite {
    margin-top: 50px;
    margin-left: 450px;
    animation: fade 5s;
}

.businessBottom { 
    margin-left: 450px;
    margin-top: 7.5px;
    animation: fade 5s;
}

.googleMaps {
    position: fixed;
    margin-left: 450px;
    margin-top: 13.5px;
    animation: fade 5s;
}

.leftSide {
    bottom: 300px;
    margin-left: -12.5px;
}