.frontend {
    height: 100vh;
    background: linear-gradient(to bottom, #000080, #1E3163);
}

.title {
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input {
    text-align: center;
}

.tickerSymbol {
    height: 20px;
    width: 200px;
    text-align: center;
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button {
    text-align: center;
    margin-top: 10px;
}

.finances {
    text-align: center;
    margin-right: 450px;
}

.personal {
    text-align: center;
    position: relative;
    bottom: 342px;
    margin-left: 350px;
}